/* ========================== Component Name ========================== */
$component: .features99;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  
  &__wrap {
    @apply relative w-full mx-auto px-12 py-24 max-w-screen-xxl text-wire-dark bg-wire-light;
    /*
    background-image: url('https://res.cloudinary.com/fir-design/image/upload/f_auto,q_auto/Pinecones/features99-grid_ryuhz2.png');
    background-size: 100%;
    */
    display: grid;
    grid-gap: 2rem;
  }

  &__panel {
    background: orangered;
    border-radius: 1rem;
    padding: 2rem;
    @apply text-wire-light bg-wire-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__copy + &__panels {
    margin-top: 2rem;
  }
  
  &__copy {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
  }  
  
  &__panel-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  
  &__panels {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  
  &__title {
    margin-bottom: 1rem;
  }

  /* ========================== Modifiers ========================== */
  &__panel--primary {
    @apply bg-wire-primary;
  }
  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__panels {
      grid-area: 1 / 2 / span 2 / span 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    &__copy {
      grid-area: 1 / 1 / span 2 / span 1;
    }

    &__panel {

    }

    &.flip--h &__panels {
      grid-area: 1 / 1 / span 2 / span 2;
    }

    &.flip--h &__copy {
      grid-area: 1 / 3 / span 2 / span 1;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
